[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyttsx3 = "*"
speechrecognition = "*"
playsound = "*"
pyaudio = "*"
gtts = "*"
flask = "*"
pytailwindcss = "*"
openai = "*"

[dev-packages]

[requires]
python_version = "3.11"
