<div class="max-w-3xl mx-auto px-4">
  <hr class="border-skin-line" aria-hidden="true" />
</div>
<div class="md:w-screen max-w-3xl">
  <div class="w-full flex flex-col items-center justify-between p-2 py-8">
    <p class="text-md text-end">Made with ❤️ in Bharat.</p>
    <div class="my-2"></div>
    <p class="text-xs">Copyright © {{today_date.year}}. All rights reserved.</p>
    <div class="my-1"></div>
    <p class="text-xs text-center">
      All trademarks, logos, and brand names are the property of their
      respective owners. All company, product, and service names used in this
      website are for identification purposes only. Use of these names,
      trademarks, and brands does not imply endorsement.
    </p>
  </div>
</div>
