{% extends "base.html" %} {% block title %}{{ title }}{% endblock %} {% block
content %}
<section class="md:w-screen md:max-w-3xl text-center md:text-start">
  <div class="py-8 overflow-hidden">
    <h1
      id="avani-heading-text"
      class="my-8 text-4xl md:text-5xl leading-4 font-bold hidden"
    >
      <i class="fa-solid fa-microchip"></i> A.V.A.N.I.
    </h1>
    <h2
      id="typing1"
      class="w-full updates-link my-8 text-xl md:text-2xl py-2 leading-4 font-medium inline"
    ></h2>
  </div>
</section>
<section id="avani-description" class="hidden text-center md:text-justify">
  <div>
    <p class="my-2 home-text">
      Hi Folks, I'm Avani, an AI-powered Voice Assistant. I am one stop site for
      all your needs and queries. Have any questions or doubts regarding any
      ideas in mind? Or want to have any ideas or prepare any docs? Then just
      tap the mic and speak out, I am here to assist you with my AI powered
      Brain! Feel the power of AI in one tap!
    </p>
    <p class="mt-2 mb-2 home-text">
      Read the about A.V.A.N.I. by checking
      <a
        href="/readme"
        class="decoration-dashed underline underline-offset-4 simple-link"
        >README</a
      >
      for more info.
    </p>
  </div>
  <div class="flex flex-col justify-center items-center pt-5 pb-6">
    <a
      href="/chat"
      class="border-2 text-center border-black p-5 rounded-lg transition-all ease-in-out duration-500 bg-white text-black hover:bg-black hover:text-white"
    >
      Get Started
    </a>
  </div>
  <div class="max-w-3xl mx-auto px-4">
    <hr class="border-skin-line" aria-hidden="true" />
  </div>
  <div class="flex flex-col justify-center items-start pt-4 pb-6">
    <h2
      class="w-full my-8 text-2xl leading-4 font-bold text-center md:text-start"
    >
      <i class="fa-brands fa-github"></i> Technical Updates
    </h2>
    {% if commits.length != 0 %} {% for commit in commits %}
    <div class="w-full flex flex-col justify-start items-start my-4">
      <h3
        class="updates-link font-medium text-lg decoration-dashed hover:underline text-center md:text-start"
      >
        <i class="fa-solid fa-code-commit"></i>
        <a href="{{commit.html_url}}">{{commit.commit.message}}</a>
      </h3>
      <p class="w-full italic text-sm text-gray-500 text-center md:text-start">
        <i class="fa-solid fa-calendar-days"></i>
        {{datetime.fromisoformat(commit.commit.author.date).strftime('%B %d,
        %Y')}} |
        {{datetime.fromisoformat(commit.commit.author.date).strftime('%r')}}
      </p>
      <div
        class="w-full flex flex-row justify-center items-center md:justify-start mt-1"
      >
        <span class="w-auto">Committed by </span>
        &nbsp;
        <div class="w-auto flex flex-row justify-start items-center">
          <img
            class="w-6 h-6 rounded-full"
            src="{{commit.committer.avatar_url}}"
            alt="{{commit.committer.login}}"
          />
          &nbsp;
          <a
            class="updates-link font-medium text-lg decoration-dashed hover:underline"
            href="{{commit.committer.html_url}}"
          >
            <span>{{commit.committer.login}}</span>
          </a>
        </div>
      </div>
    </div>
    {% endfor %} {% endif %}
    <p
      class="w-full italic text-sm text-gray-500 mt-4 text-center md:text-start"
    >
      -- End of list --
    </p>
  </div>
</section>
<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script src="/static/js/animations.js"></script>
{% endblock %}
