<nav class="w-screen max-w-3xl bg-white">
  <div class="w-full flex flex-row items-center justify-between p-2 py-8">
    <a href="/" class="w-1/4 flex items-center">
      <span class="text-2xl leading-8 font-semibold whitespace-nowrap"
        >AVANI</span
      >
    </a>
    <ul class="w-3/4 text-base flex flex-row justify-end items-center">
      <li class="simple-link font-medium flex items-center justify-center mx-8">
        <a href="/home">Home</a>
      </li>
      <li class="simple-link font-medium flex items-center justify-center mx-8">
        <a href="/features">Features</a>
      </li>
      <li class="simple-link font-medium flex items-center justify-center ml-8">
        <a href="/about">About</a>
      </li>
    </ul>
  </div>
</nav>
<div class="max-w-3xl mx-auto px-4">
  <hr class="border-skin-line" aria-hidden="true" />
</div>
