<nav class="bg-white">
  <div
    class="flex flex-col md:flex-row items-center justify-between p-6 md:p-2 md:py-8"
  >
    <div
      class="md:w-1/4 w-full flex flex-row-reverse md:flex-row items-center justify-between"
    >
      <a href="/" class="md:w-1/4 flex items-center">
        <img
          class="h-16"
          src="{{ url_for('static', filename='img/AVANI.png') }}"
        />
      </a>
      <div class="md:hidden text-2xl cursor-pointer" onclick="toggleSideNav()">
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>
    <div class="hidden md:w-3/4 md:block">
      <ul
        class="text-base flex flex-col md:flex-row justify-end items-center mt-4 md:mt-0"
      >
        <li
          class="font-medium flex items-center justify-center my-4 md:my-0 md:mx-8"
        >
          {% if request.path == '/home' %}
          <a class="active-link" href="/home">Home</a>
          {% else %}
          <a href="/home">Home</a>
          {% endif %}
        </li>
        <li
          class="font-medium flex items-center justify-center my-4 md:my-0 md:mx-8"
        >
          {% if request.path == '/features' %}
          <a class="active-link" href="/features">Features</a>
          {% else %}
          <a href="/features">Features</a>
          {% endif %}
        </li>
        <li
          class="font-medium flex items-center justify-center my-4 md:my-0 md:mx-8"
        >
          {% if request.path == '/readme' %}
          <a class="active-link" href="/readme">About</a>
          {% else %}
          <a href="/readme">About</a>
          {% endif %}
        </li>
      </ul>
    </div>
    <div id="side-nav" class="md:hidden side-nav">
      <ul
        class="text-base flex flex-col md:flex-row justify-end items-center mt-4 md:mt-0"
      >
        <li class="my-10">
          <div
            class="text-2xl text-white cursor-pointer"
            onclick="toggleSideNav()"
          >
            <i class="fa-solid fa-x"></i>
          </div>
        </li>
        <li
          class="font-medium flex items-center justify-center my-4 md:my-0 md:mx-8"
        >
          {% if request.path == '/home' %}
          <a class="active-link" href="/home">Home</a>
          {% else %}
          <a href="/home">Home</a>
          {% endif %}
        </li>
        <li
          class="font-medium flex items-center justify-center my-4 md:my-0 md:mx-8"
        >
          {% if request.path == '/features' %}
          <a class="active-link" href="/features">Features</a>
          {% else %}
          <a href="/features">Features</a>
          {% endif %}
        </li>
        <li
          class="font-medium flex items-center justify-center my-4 md:my-0 md:mx-8"
        >
          {% if request.path == '/readme' %}
          <a class="active-link" href="/readme">About</a>
          {% else %}
          <a href="/readme">About</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="max-w-3xl mx-auto px-4">
  <hr class="border-skin-line" aria-hidden="true" />
</div>
