{% extends "base.html" %} {% block title %}{{ title }}{% endblock %} {% block
content %}
<section class="w-full max-w-3xl h-full">
  <div class="pt-8 pb-6 w-full h-full flex flex-col justify-between">
    <h1 id="chat-title" class="my-8 text-3xl font-bold text-center">
      Chat with AVANI
    </h1>
    <div id="response">
      <div id="response-error" class="mb-5"></div>
      <div id="response-history"></div>
      <div id="response-body" class="inline"></div>
      <div id="response-about" class="flex flex-wrap -mx-4 px-8 md:px-0">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
          <div class="bg-gray-50 rounded-lg shadow-md p-6">
            <div class="flex flex-col items-start justify-center space-y-4">
              <h2 class="text-lg font-bold">Open any website</h2>
              <div>
                <p><i>Examples:</i></p>
                <br />
                <p>"Open Government of India's website"</p>
                <br />
                <p>"Open google.com"</p>
              </div>
            </div>
          </div>

          <div class="bg-gray-50 rounded-lg shadow-md p-6">
            <div class="flex flex-col items-start justify-center space-y-4">
              <h2 class="text-lg font-bold">Play YouTube</h2>
              <div>
                <p><i>Examples:</i></p>
                <br />
                <p>"Play Vande Mataram"</p>
                <br />
                <p>"Play Lost by Linkin Park"</p>
              </div>
            </div>
          </div>

          <div class="bg-gray-50 rounded-lg shadow-md p-6">
            <div class="flex flex-col items-start justify-center space-y-4">
              <h2 class="text-lg font-bold">Ask questions</h2>
              <div>
                <p><i>Examples:</i></p>
                <br />
                <p>"Name of longest river in India"</p>
                <br />
                <p>"What is Calculus?"</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="my-10"></div>
      <div id="processing" class="hidden">
        <div class="flex flex-col justify-center items-center">
          <div class="animate-pulse text-center">
            Thinking by using my artificial brain for you ❤️
          </div>
          <div class="pt-5 flex flex-row justify-center items-center">
            <div
              class="w-8 h-8 rounded-full animate-spin border-4 border-solid border-black border-t-transparent"
            ></div>
            &nbsp;
            <div class="text-xl font-medium">Please Wait</div>
          </div>
        </div>
      </div>
      <div class="my-10"></div>
      <form
        method="post"
        id="prompt-form"
        class="p-4 flex flex-row justify-between items-center border-2 border-gray-700 rounded-full"
      >
        <input
          type="text"
          class="w-full text-xl focus:outline-none bg-transparent"
          placeholder="Ask me something I don't know!"
          id="prompt"
          name="prompt"
        />
        <button
          type="button"
          id="audio-prompt"
          class="pl-4 pr-8"
          onclick="startRecording()"
        >
          <lable
            id="record"
            for="my-modal"
            class="text-2xl text-gray-700 mic-button"
          >
            <i class="fa-solid fa-microphone-lines"></i>
            <i class="fa-solid fa-microphone"></i>
          </lable>
        </button>
        <button id="send-prompt" class="pr-4" type="submit">
          <span class="text-2xl text-gray-700 send-button">
            <i class="fa-regular fa-paper-plane"></i>
            <i class="fa-solid fa-paper-plane"></i>
          </span>
        </button>
      </form>
      <div class="mt-2 text-center text-xs text-gray-400">
        <span
          >Powered by
          <strong><i class="fa-brands fa-google"></i> Bard</strong> and
          <strong><i class="fa-brands fa-microsoft"></i> Azure</strong></span
        >
      </div>
    </div>
  </div>
  <div id="modal" class="fixed z-10 inset-0 overflow-y-auto hidden">
    <div class="flex items-center justify-center min-h-screen p-4">
      <div
        class="flex flex-col items-center justify-center bg-white shadow-2xl rounded-lg p-6"
      >
        <h2 class="text-xl font-bold mb-4">
          Click the mic icon to stop recording
        </h2>
        <div class="flex justify-center mt-6">
          <button
            id="stop-recording"
            class="flex justify-center items-center"
            onclick="stopRecording()"
          >
            <span id="grow-animation" class="text-5xl text-gray-700 font-bold">
              <i class="fa-solid fa-microphone-slash"></i>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
<script src="{{ url_for('static', filename='js/chatRequests.js') }}"></script>
{% endblock %}
